* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

body {
  color: #aeb9e1;
  background-color: #080f25;
  font-family: Mona sans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
  background-image: url("https://assets.website-files.com/641a0c8100e68df2708b96bf/6421c53d98e5de5da4d26dec_sales-home-hero-bg-dashdark-webflow-template.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

h1 {
  margin-top: 0;
  margin-bottom: 16px;
  margin: 0.67em 0;
  color: #aeb9e1;
  font-weight: 600;
  line-height: 1.263em;
}

.image {
  z-index: -1;
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
  object-position: 50% 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.btn {
  background-color: #6c72ff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #8c8feb;
  color: #fff;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
}

.balance {
  font-size: 24px;
}

.title{
  color: #fff;
}